{% load static %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="{% static 'frontend/manifest.json' %}" />
    <meta
          name="description"
          content="The Home Server"
        />
    <script
    defer="defer"
    src="{% static '/frontend/static/js/main.7da90914.js' %}">
    </script>
    <script
      defer="defer"
      src="{% static '/frontend/static/js/main.7ed7b558.js' %}"
    ></script>
    <script defer="defer" src="{% static 'home.js' %}"></script>
    <title>Home</title>
    <link
          href="{% static '/frontend/static/css/main.149f78f0.css' %}"
          rel="stylesheet"
        />
    <link
      href="{% static 'frontend/static/css/main.67fb00b8.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'home.css' %}" rel="stylesheet" />
  </head>
    
  {% block content %}

  {% endblock %}
</html>