*{
    margin: 0;
    padding: 0;
}  

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }
  
a {
    text-decoration: none;
    color: inherit;
  }
  
html {
    font-size: 24px;
  }
  
main{
    padding: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(104, 184, 184);
    border: 1px solid blue;
    border-radius: 5px;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-container h1 {
    padding: .2rem;
    margin: .2rem;
}
.home-links{
    background-color: blue;
    border-radius: 8px;
    border: 1px solid darkblue;
    margin: 1rem;
    padding: .3rem;
}
.home-links a {
    color: white;
    margin: 1rem;
}
.home-links a:hover {
    color: brown;
}

.search{
  align-items: center;
  justify-content: center;
}
.search form{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 3fr 1fr;
    margin: .5rem;
    padding: 0.5rem;
}

.search input[type='text'] {
  width: 85%;
  min-height: 45px;
  border-radius: 8px;
  border: .5px solid rgb(147, 128, 128);
  font-size: 26px;
  padding: 0.1rem;
  
}
.search button {
  background-color: #2a16a97f;
  font-size: 19px;
  align-self: center;
  padding: 0.2rem;
  border-radius: 5px;
  width: 80px;
}